<!DOCTYPE html>
<html>
<head>
    <title>Micokrovix - Login</title>
</head>
<body>

<h2>🚛 Micokrovix</h2>

<h3>Login</h3>
<form method="POST" action="/login">
    Usuário: <input name="username" required><br><br>
    Senha: <input name="senha" type="password" required><br><br>
    <button>Entrar</button>
</form>

<hr>

<h3>Criar Conta</h3>
<form method="POST" action="/registrar">
    Usuário: <input name="username" required><br><br>
    Senha: <input name="senha" type="password" required><br><br>
    <button>Criar Conta</button>
</form>

</body>
</html>
